@model IEnumerable<Lab4.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<p>
    <a asp-action="Create">Tạo Khóa Học</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
